{% extends "base.html" %}

{% block title %}About - Astralis Fest{% endblock %}

{% block content %}
    
<!-- about_area_start  -->

<div class="about_area black_bg " style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80 mt-5">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" style="padding-top: 50px; margin-top: 30px;">About Our Fest</h3>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" ></p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="img/shape/shape_3.svg" alt="">
                    </div>
                    <!-- <div class="thumb_inner  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <img src="img/about/about.png" alt="">
                    </div> -->
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="video-responsive">
                            <iframe src="https://player.vimeo.com/video/1063286751?h=62bd3b73be&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
        frameborder="0" 
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
        style="position:absolute;top:0;left:0;width:100%;height:100%;" 
        title="Epistemico 2k17">
    </iframe>                   </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Celebrating Innovation, Culture, and Creativity</h4>
                    <p  class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">Epistemico is the annual techno-cultural fest of Mahila Engineering College, Ajmer. It is a legacy of our college that started since the very beginning of this institution. This is the 12th edition of Epistemico. Epistemico, the name itself means celebrating technocrats and feminism, is the biggest extravaganza held under the supervision of the Creative Arts Society. Events are conducted under the four major committees: Technical, Cultural, Innovation, and Literary, with participants from various colleges of Rajasthan and nearby states.<!-- <a href="#" class="boxed-btn3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy Tickets</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about_area_end  -->
 <!-- about_area_start  -->
 <div class="about_area black_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">About The Theme</h3>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s">
                        </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <!-- Right content (Text & Button) moved to left -->
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Where Dreams Ignite and Stars Align</h4>
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
                    
                        Step into Astrials, 
                        What a perfect sync it would be at our own Annual Fest Epistemico, for coming together, having fun and joy with a tint of skillfulness and competitive It gives a stage to all the enthusiasts and creative minds to showcase their extraordinary talent.We are on the way to exploring different galaxies, one at a time. In the world of Technology, we are the shining stars, on a mission to explore the Universe in it's beautiful and best forms. The bright stars, lightening the universe with our skills, knowledge, abilities and perseverance. So, come, accompany us, and let's dive in together to explore those precious moments!                    </p>
                    <!-- <a href="#" class="boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy Tickets</a> -->
                </div>
            </div>

            <!-- Left content (Video) moved to right -->
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="img/shape/shape_3.svg" alt="">
                    </div>
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="video-responsive">
                            <iframe src="https://player.vimeo.com/video/1063284738?h=1332b1955a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                            frameborder="0" 
                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                            style="position:absolute;top:0;left:0;width:100%;height:100%;" 
                            title="theme">
                        </iframe>                        
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_area black_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_title text-center mb-80">
                    <h3 class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" >About Our College</h3>
                    <p class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".4s" ></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-6">
                <div class="about_thumb">
                    <div class="shap_3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                        <img src="img/shape/shape_3.svg" alt="">
                    </div>
                    <!-- <div class="thumb_inner  wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <img src="img/about/about.png" alt="">
                    </div> -->
                    <div class="thumb_inner wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="video-responsive">
                            <iframe src="https://player.vimeo.com/video/1063191255?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                            frameborder="0" 
                            allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media" 
                            style="position:absolute;top:0;left:0;width:100%;height:100%;" 
                            title="Gweca">
                        </iframe>                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="about_info pl-68">
                    <h4 class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Empowering Women, Engineering the Future</h4>
                    <p  class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
At Mahila Engineering College Ajmer, it's about pushing boundaries, sparking innovation, and fostering a vibrant community where ideas turn into reality. As Rajasthan’s first and India’s second all-women engineering college, we are a fusion of brilliance, ambition, and creativity. From national hackathons and cutting-edge research to top industry placements and groundbreaking startups. But Mahila Engineering College is more than academics; it’s a canvas of culture, where art meets algorithms, dance meets design, and ambition meets opportunity. Whether it's the electrifying energy of Epistemico, the pulse of our tech clubs, or the fire of entrepreneurial ventures, every corner of our campus sparks possibility. Here, we don’t wait for the future—we create it.
 <!-- <a href="#" class="boxed-btn3  wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s">Buy Tickets</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about_area_end  -->
<!-- about_area_end  -->
    
{% endblock %}
