{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Gallery Page</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
</head>

    <h1 class="wow fadeInUp">Our Highlights</h1> 
    <div class="container">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754639/pyn9bkfmyewgdaxkejv4.jpg" alt="Image 1" class="wow fadeIn" data-wow-delay="0.2s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754662/si6zpyaq88tlhhvnkx4p.jpg" alt="Image 2" class="wow fadeIn" data-wow-delay="0.4s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754670/dcpwpzgxowfyue3hl8x5.jpg" alt="Image 3" class="wow fadeIn" data-wow-delay="0.6s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754680/icgfrid6hkiey6mgnkpb.jpg" alt="Image 4" class="wow fadeIn" data-wow-delay="0.8s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754691/olbwjs4ofv2acomkgnp2.jpg" alt="Image 5" class="wow fadeIn" data-wow-delay="1s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754701/nq3rbhmhqvbotmchtsih.jpg" alt="Image 6" class="wow fadeIn" data-wow-delay="1.2s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754721/xmwdz4qeunwj8w4cepwk.jpg" alt="Image 7" class="wow fadeIn" data-wow-delay="1.4s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754734/h4lz1hveibt08qmi8muk.jpg" alt="Image 8" class="wow fadeIn" data-wow-delay="1.6s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754757/up3wrviymex2mrqg9jmh.jpg" alt="Image 9" class="wow fadeIn" data-wow-delay="1.8s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754640/mzgd9ipg7qbcobh0ynhz.jpg" alt="Image 10" class="wow fadeIn" data-wow-delay="2s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754642/onbefdqt4rgi27asu5st.jpg" alt="Image 11" class="wow fadeIn" data-wow-delay="2.2s">
        <img src="https://res.cloudinary.com/dwgonaz0b/image/upload/v1741754644/wvvmdqm1fhjhvsqmev5w.jpg" alt="Image 12" class="wow fadeIn" data-wow-delay="2.4s">
    </div>
    
{% endblock %}
