{% extends "base.html" %}

{% block title %}Our Team - Astralis Fest{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Section</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
 <h1 style="padding-top:100px; margin-top: 40px;">Meet Our Team</h1> 
    <section class="team">
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754451/qidia50yofmc87unahhh.jpg" alt="Megha Sharma">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/megha-sharma-766224239" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://instagram.com/meghasharma.03" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Megha Sharma</h2> 
                <p>President</p>
            </div>
        </div>
        
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754477/bejb8i2mv6anf6teuqe6.png" alt="Simarjeet Kaur">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/simarjeetkaur" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://instagram.com/simarrjeetkaur" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Simarjeet Kaur</h2>
                <p>Vice President</p>
            </div>
        </div>
    </section>

    <h2>Technical Team</h2>
    <section class="team">
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754434/zbyondkfjhvekhinevun.jpg" alt="Gargi Mittal">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/gargi-mittal-199434230" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/gargiwithdiary" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/GargiMittal" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Gargi Mittal</h2>
                <p>Technical Head</p>
            </div>
        </div>
        
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754446/fsv9tdbkdfdhocswc0mf.jpg" alt="Khushi Tomer">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/khushi-tomer-416780258" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/khushi_tomer_" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Khushi Tomer</h2>
                <p>Technical Head</p>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754440/q15o9ttkdlsoqbcswtvo.jpg" alt="Khushi Tomer">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/janhvibabani" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Janhvibabani" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/janhvvi_/profilecard/?igsh=Z3ViOWIzeGhpenR4" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Jahanvi Babani</h2>
                <p>Technical Sub Head</p>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754438/nx15fuvqkh4j00prluvk.jpg" alt="Khushi Tomer">
                <div class="social-icons">
                    <a href="https://linkedin.com/himanshi-rathore-941807270/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/Unico_153?s=09" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/himanshiiii_1503/profilecard/?igsh=dWlhZzg4ZWk3bGox" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Himanshi Rathore</h2>
                <p>Technical Sub Head</p>
            </div>
        </div>
    </section>
    
    <h2>Cultural Team</h2>
    <section class="team">
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754438/eyaqdxqpvwfo4pufhhso.jpg" alt="Geetanjali Barman">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/geetanjalibarman" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://x.com/Geetanjali_1995?t=JAz2Di-jkf8uFt9GusaO-Q&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/barmangeetanjali_95?igsh=MWFpejIzaGMzOG1ydw==" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Geetanjali Barman</h2>
                <p>Cultural Head</p>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754486/afjlfjomgovcn7ui0m4g.jpg" alt="Sunaina Sharma">
                <div class="social-icons">
                    <a href="https://linkedin.com/in/oliviagreen" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/sunaina_badyal" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Sunaina Sharma</h2>
                <p>Cultural Head</p>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754419/r2ftpgymw53419qjfsfw.jpg" alt="Chanika Rathore">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/chainika-rathore-8a942b24a" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/Chainika_02" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Chanika Rathore</h2>
                <p>Cultural Sub Head</p>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754431/uvmcqlpfsvzjnxcxflbf.jpg" alt="Divya Bhati">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/divya-bhati-79829a271?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/mis._divya_bhati/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Divya Bhati</h2>
                <p>Cultural Sub Head</p>
            </div>
        </div>
   
    </section>
    
    <h2>Literary Team</h2>
            <section class="team">
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754426/yxrr4lhqvjsd67orukbc.jpg" alt="Deep Shikha Verma">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/deep-s-04b876242?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/Deepshikhaaa05" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Deep Shikha Verma</h2>
                        <p>Literary Head</p>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754447/ftz7f6jygs0z9o0ppf8y.jpg" alt="Khyati Chattree">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/khyati-chattree" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/Khyati13C" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Khyati Chattree</h2>
                        <p>Literary Head</p>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754448/pjpncub9axprnglontez.jpg" alt="Laxmi Sankhla">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/laxmi-sankhla-06196228b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/laxmi._sankhla/profilecard/?igsh=MWtueHpneXJjbjgyaw==" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Laxmi Sankhla</h2>
                        <p>Literary Sub Head</p>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754436/zpa532tepsq8ip15zcz7.jpg" alt="Gargi Sharma">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/gargi-sharma-598a442b0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/shadowcipher__" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Gargi Sharma</h2>
                        <p>Literary Sub Head</p>
                    </div>
                </div>
            </section>
            
            <h2>Innovation Team</h2>
            <section class="team">
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754452/r1izcftuywcljvmhw6ts.jpg" alt="Nandani Kumari">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/nandani-kumari-a9b334237?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/nandani._.gupta" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Nandani Kumari</h2>
                        <p>Innovation Head</p>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754413/f4utsztpf94tfzg7ceg1.jpg" alt="Astha Patni">
                        <div class="social-icons">
                            <a href="http://www.linkedin.com/in/aasthapatni" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/aasthapatni_" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Aastha Patni</h2>
                        <p>Innovation Head</p>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754458/brwc0mrajd56v1qbpimt.jpg" alt="Preeti Rawat">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/preeti-rawat-b39227272" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/preeti_rawat730" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Preeti Rawat</h2>
                        <p>Innovation Sub Head</p>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754416/xbyibc3k93664etkiofz.jpg" alt="Astha Sharma">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/astha-sharma-10290a311?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/_.pastaaaa" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Astha Sharma</h2>
                        <p>Innovation Sub Head</p>
                    </div>
                </div>
                
    </section>
    <h2>Cultural Cheif Team</h2>
    <section class="team">
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754484/nmmmmo2snvhzpmspca2z.jpg" alt="Shreeja">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/shreeja-maheshwari-39a1b9241?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/shreeja_maheshwari27?igsh=MXJ6ejNmeWxnczd0eA==" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="shreeja.maheshwari0703@gmail.com" target="_blank"><i class="fab fa-gmail"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Shreeja Maheshwari</h2>
            </div>
        </div>
        
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754425/zzbctkrmaucx35eg80bp.jpg" alt="Khushi Tomer">
                <div class="social-icons">
                    <!-- <a href="https://www.linkedin.com/in/khushi-tomer-416780258" target="_blank"><i class="fab fa-linkedin"></i></a> -->
                    <a href="https://www.instagram.com/deepaliisharma_15?igsh=eDZvb2VpZnliMDhm&utm_source=ig_contact_invite" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="deepalisharmads19@gmail.com" target="_blank"><i class="fab fa-gmail"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Deepali Sharma</h2>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754454/ybosezompppfyeue3huy.jpg" alt="Purvi Gupta">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/poorvi-gupta-a817032a0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/Poorvigup" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/.you.nice.keep.going.?igsh=MWc2bG5jdnBubTFiNA==" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Poorvi Gupta</h2>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754482/ocspdmvy3cq6bprz3pqj.jpg" alt="Sonakshi">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/sonakshi-reniya-5b990a258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/sonakshireniya" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.instagram.com/_shhh_24?igsh=M2dydWl6ZzhoZHI4" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Sonakshi Reniya</h2>
            </div>
        </div>
    </section>
    
    <h2>PR Chief Team</h2>
    <section class="team">
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754466/zhd8excu1sh0jszubzbt.jpg" alt="Shruti Bharadwaj">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/shruti-bhardwaj-61b643227?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <!-- <a href="https://x.com/Geetanjali_1995" target="_blank"><i class="fab fa-twitter"></i></a> -->
                    <a href="https://www.instagram.com/art_heals53?igsh=ZWdma3dvaHJjMDVq&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Shruti Bharadwaj</h2>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754460/htn5k7uzmoyofvsoll2k.jpg" alt="Priyanshi Jain">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/priyanshi-jain-a3ba1125b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/priyanshi_j?igsh=OWo3dHl0eWo4YzA3" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/Priyanshi2330" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Priyanshi Jain</h2>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754414/k0skn1bkoglw1zjetknz.jpg" alt="Ananya Mewara">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/ananya-mewara-024a74258?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/ananyamewara7?igsh=NXB0NzNtNmZxdzJm" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href=" https://www.facebook.com/share/p/1E9QVVUuBG/ " target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Ananya Mewara</h2>
            </div>
        </div>
        
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754430/mwmmfmepjgs7eo1b3ran.jpg" alt="Disha Chhipa">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/disha-chhipa-1986bb2b9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/DishaChhipa" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="mailto:er.dishachhipa@gmail.com"><i class="fab fa-google"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Disha Chhipa</h2>
            </div>
        </div>
        <div class="member">
            <div class="image-container">
                <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754423/biinei6i3b48qwol7t8v.jpg" alt="Chitra Rathore">
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/chitra-rathore-aaa859261" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/chitra_rathore139?igsh=NHQ2cHM5Z2pidHNx" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/chitrarathore139" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="member-content">
                <h2>Chitra Rathore</h2>
            </div>
        </div>
   
   
    </section>
    
    <h2>Creative Chiefs Team</h2>
            <section class="team">
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754450/ftulbbmrotybdyf1xx8n.jpg" alt="Megha Gehlot">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/megha-gehlot-a34208276?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href=" https://www.instagram.com/bella_celine?igsh=MTR4dGlmYzJvY3VtNw==" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Megha Gehlot</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754433/prtme2jxc415qwu39sf1.jpg" alt="Divyanshi Sharma">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/divyanshi-sharma-2350912a0?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <!-- <a href="https://github.com/Khyati13C" target="_blank"><i class="fab fa-github"></i></a> -->
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Divyanshi Sharma</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754445/ula96ykgbyqq2mgo5dwj.jpg" alt="Khushi Khatri">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/khushi-khatri2407/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/.khushi.__79?utm_source=qr&igsh=cGtuc3N0aHdkOGNs" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/share/18iWcaW5zR/" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Khushi Khatri</h2>
                    </div>
                </div>
               
            </section>
            
            <h2>Groundwork Chiefs Team</h2>
            <section class="team">
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754487/ewkdqxfcnqyphmjhumh0.jpg" alt="Tashneet kaur">
                        <div class="social-icons">
                            <!-- <a href="https://www.linkedin.com/in/nandani-kumari-a9b334237?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a> -->
                            <a href="https://www.instagram.com/.tashneet._?igsh=NG1wNXg0Mm43Njdt" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="tashneetkaurmatharu@gmail.com" target="_blank"><i class="fab fa-gmail"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Tashneet Kaur Matharu</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754471/afwr3bxd3uvtqx8ltc4i.jpg" alt="Sushrita">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/sushrita-b-488774271?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/sure_its_sush?utm_source=qr&igsh=MTV0eHBodzBycHJ2bA==" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Sushrita Bhattacharya</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754454/o67pvuv2jwr7ctu17t5x.jpg" alt="Niharika Rathore">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/niharika-rathore-418106259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <!-- <a href="https://www.instagram.com/preeti_rawat730" target="_blank"><i class="fab fa-instagram"></i></a> -->
                            <a href=""><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Niharika Rathore</h2>
                    </div>
                </div>
             </section>

             <h2>Media Chiefs Team</h2>
            <section class="team">
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754489/pmoqkpaq5z9ceaowspwd.jpg" alt="Vidhya Chauhan">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/vidya-chauhan-1b0894214?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/vidyachauhan_?igsh=Y2Mzdm5kZTlmdnJj&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="mailto:vidyachauhan2004@gmail.com"><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Vidhya Chauhan</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754461/ugktcu6ycw4hrqrw070a.jpg" alt="Sharvani Gautam">
                        <div class="social-icons">
                            <a href="https://github.com/SharvaniGautam" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="https://www.instagram.com/sharvanigautam?igsh=MTVuanNudTNtdWJtMw==" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Sharvani Gautam</h2>
                    </div>
                </div>
              
             </section>
             <h2>Website Development Team</h2>
            <section class="team">
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754434/zbyondkfjhvekhinevun.jpg" alt="gargi mittal">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/gargi-mittal-199434230" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/gargiwithdiary" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/GargiMittal" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Gargi Mittal</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754428/fgamfzfbq3ddbeal28kd.jpg" alt="Diksha Gaur">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/diksha-gour-2a904025a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/dikshagour_01?igsh=MWIyM2d0ODV0enB1YQ==" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/dikshagour01" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Diksha Gaur</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754456/p3auh8hrw5xql02olgzf.jpg" alt="Pragati Sharma">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/pragati-sharma-35b933251/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/Pragatisharma100" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="mailto:pragatisharmakota.com"><i class="fab fa-google"></i></a>
                                                        
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Pragati Sharma</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754430/mwmmfmepjgs7eo1b3ran.jpg" alt="Disha Chhipa">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/disha-chhipa-1986bb2b9?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://github.com/DishaChhipa" target="_blank"><i class="fab fa-github"></i></a>
                            <a href="mailto:er.dishachhipa@gmail.com"><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Disha chhipa</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754415/qa89bz61fvqskafuzmsn.jpg" alt="Arshpreet Kaur">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/arshpreet-kaur-370462221/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/arshpreetkaur4249/" target="_blank"><i class="fab fa-instagram"></i></a> 
                            <a href="https://github.com/karshpreet " target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Arshpreet Kaur</h2>
                    </div>
                </div>
                <div class="member">
                    <div class="image-container">
                        <img src="https://res.cloudinary.com/duemzlv7w/image/upload/v1741754417/pgdsmu1rupc2dfpxjswx.jpg" alt="Bhawana Sharma">
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/bhawana-sharma-a0900025a/" target="_blank"><i class="fab fa-linkedin"></i></a>
                            <a href="https://www.instagram.com/bhawana_as?igsh=bXlmc3pjNDYxNGx6" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="mailto:bhawanaa604@gmail.com"><i class="fab fa-google"></i></a>
                        </div>
                    </div>
                    <div class="member-content">
                        <h2>Bhawana Sharma</h2>
                    </div>
                </div>
             </section>

</body>
{% endblock %}
